---
const { url, title } = Astro.props;
---

<a href={url} target="_blank" rel="noreferrer" class="anchor">
  <slot name="1" />
  {title}
  <slot name="2" />
</a>

<style>
  .anchor {
    padding: 8px 14px;
    border: 1.5px solid #545468;
    font-size: 13px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-color);
    &:hover {
      scale: 1.02;
      border-style: dashed;
    }
  }
</style>
