---
const { name, icon } = Astro.props;
---

<div class="tag">
  <div class="icon-container">
    <img src={icon} alt={name} class="icon" />
  </div>
  <span class="name">{name}</span>
</div>

<style>
  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: rgba(239, 230, 248, 0.7);
    border-radius: 50px;
    border: 1px solid #3a3a3a;
    padding: 5px 10px;
    color: #383838;
    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        width: 15px;
      }
    }
    .name {
      font-size: 12px;
    }
  }
</style>
